body {
	padding-top: 70px;
	background: url(https://images.unsplash.com/photo-1491592558635-f4cc68beb2e9?dpr=1&auto=compress,format&fit=crop&w=966&h=&q=80&cs=tinysrgb&crop=);
	background-size: cover;
	font-family: Lato;
	color: white;
}


.jumbotron {
	color: #2c3e50;
	background-color: rgba(0,0,0, 0.9);
}

/*.navbar-inverse {
	background-color: #2c3e50;
}*/

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {

	color: white;
}

h2,p {
	color: white;
}